* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  font-family: 'Source Serif Pro', Arial, Helvetica, sans-serif;
}

.under-construction {
  width: 100%;
  padding: 15px;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
  letter-spacing: 2px;
  border-bottom: 5px dashed black;
  border-top: 5px dashed black;
  background-color: #FACE09;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .under-construction {
    font-size: 3rem;
    padding: 50px;
    border-width: 10px;
  }
}

@media (min-width: 1024px) {
  .under-construction {
    font-size: 4rem;
    padding: 60px;
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.head {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/head/head-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100vh;
  background-position: 60% 0;
  overflow: hidden;
  font-family: arial, sans-serif;
}

@media (min-width: 1025px) and (orientation: landscape) {
  .head {
    background-size: auto auto;
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
  .head {
    background-image: url("../img/head/head-img-1024-613.jpg");
    background-size: auto 100vh;
  }
}

@media (max-width: 1024px) and (max-height: 613px) {
  .head {
    background-image: url("../img/head/head-img-1024-613.jpg");
    background-size: auto auto;
  }
}

@media (max-width: 720px) {
  .head {
    background-image: url("../img/head/head-img-720-431.jpg");
  }
}

@media (max-width: 360px) {
  .head {
    background-image: url("../img/head/head-img-360-216.jpg");
  }
}

@media (max-width: 500px) and (orientation: portrait) {
  .head {
    background-image: url("../img/head/head-img-portrait.jpg");
    background-size: auto 100vh;
  }
}

.head__burger-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 10vw;
  z-index: 51;
  opacity: 1;
}

@media (min-width: 1025px) and (orientation: landscape) {
  .head__burger-icon {
    display: none;
  }
}

@media (orientation: landscape) {
  .head__burger-icon {
    font-size: 12vh;
  }
}

.head__burger-icon--active {
  top: 16px;
  right: 7px;
  color: #A61D30;
}

.head .icon-menu {
  color: #DDD;
}

.head .icon-cancel {
  color: #A61D30;
}

.head__title {
  position: absolute;
  display: block;
  width: 100%;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  text-align: center;
  color: white;
}

@media (min-width: 720px) {
  .head__title {
    letter-spacing: 1px;
  }
}

@media (min-width: 1024px) {
  .head__title {
    letter-spacing: 2px;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  .head__title {
    display: table;
    width: auto;
  }
}

.head__title:hover::after {
  width: 100%;
}

.head__title--large {
  font-size: 8vw;
  top: 20vh;
}

@media (min-width: 720px) {
  .head__title--large {
    font-size: 7vw;
  }
}

@media (min-width: 900px) {
  .head__title--large {
    font-size: 6vw;
  }
}

@media (orientation: landscape) {
  .head__title--large {
    font-size: 8vh;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .head__title--large {
    font-size: 5vw;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  .head__title--large {
    left: 70px;
  }
}

.head__title--medium {
  font-size: 7vw;
  top: calc(20vh + 7vw + 4vh);
}

@media (min-width: 720px) {
  .head__title--medium {
    font-size: 6vw;
  }
}

@media (min-width: 900px) {
  .head__title--medium {
    font-size: 5vw;
  }
}

@media (orientation: landscape) {
  .head__title--medium {
    font-size: 7vh;
    top: calc(20vh + 7vh + 6vh);
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .head__title--medium {
    font-size: 4vw;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  .head__title--medium {
    left: 70px;
    top: calc(20vh + 7vw + 4vh);
  }
}

.head__title::after {
  content: "";
  position: absolute;
  display: block;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 0.06em;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.85);
  margin-top: 5px;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

@media (orientation: landscape) {
  .head__title::after {
    width: 20%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .head__title::after {
    margin-top: 5px;
    height: 0.04em;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  .head__title::after {
    -webkit-transform: none;
            transform: none;
    margin-top: 2px;
    margin-left: 0;
    width: 30%;
  }
}

.head__title--medium::after {
  width: 15%;
}

@media (orientation: landscape) {
  .head__title--medium::after {
    width: 10%;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  .head__title--medium::after {
    width: 25%;
  }
}

.head__logo {
  position: absolute;
  width: 80%;
  height: auto;
  top: 5%;
  left: 5%;
}

.head__logo-wrap {
  position: absolute;
  top: calc(20vh + 26vh);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 18vh;
  height: 18vh;
  border-radius: 50%;
  border: 0.5vw solid white;
}

@media (orientation: landscape) {
  .head__logo-wrap {
    width: 22vh;
    height: 22vh;
    top: calc(20vh + 30vh);
    border: 0.5vh solid white;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .head__logo-wrap {
    width: 18vh;
    height: 18vh;
    top: calc(20vh + 27vh);
    border: 0.35vh solid white;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  .head__logo-wrap {
    width: 30vh;
    height: 30vh;
    top: 50px;
    left: calc(100vw - 50px - 15vh);
    border: 0.5vh solid white;
    opacity: 0.7;
  }
}

.head .button.head__btn {
  position: absolute;
  width: 90vw;
  height: 9vh;
  line-height: 9vh;
  padding: 0 10px;
  bottom: 7%;
  right: 5%;
  font-size: 4vw;
  border-radius: 10px;
}

@media (min-width: 720px) {
  .head .button.head__btn {
    font-size: 3.5vw;
  }
}

@media (orientation: landscape) {
  .head .button.head__btn {
    height: 12vh;
    line-height: 12vh;
    font-size: 4vh;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .head .button.head__btn {
    height: 10vh;
    line-height: 10vh;
    font-size: 2.2vw;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  .head .button.head__btn {
    width: 45vw;
    bottom: 70px;
    letter-spacing: 3px;
    font-size: 2vw;
    border-width: 2px;
  }
}

.head::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

@-webkit-keyframes menu-out {
  0% {
    top: 20px;
    right: 20px;
  }
  100% {
    top: -10vw;
    right: 20px;
  }
}

@keyframes menu-out {
  0% {
    top: 20px;
    right: 20px;
  }
  100% {
    top: -10vw;
    right: 20px;
  }
}

@-webkit-keyframes cancel-in {
  0% {
    top: 20px;
    right: -15vw;
  }
  100% {
    top: 16px;
    right: 7px;
  }
}

@keyframes cancel-in {
  0% {
    top: 20px;
    right: -15vw;
  }
  100% {
    top: 16px;
    right: 7px;
  }
}

@-webkit-keyframes cancel-out {
  0% {
    top: 16px;
    right: 7px;
  }
  100% {
    top: 16px;
    right: -15vw;
  }
}

@keyframes cancel-out {
  0% {
    top: 16px;
    right: 7px;
  }
  100% {
    top: 16px;
    right: -15vw;
  }
}

@-webkit-keyframes menu-in {
  0% {
    top: -10vw;
    right: 20px;
  }
  100% {
    top: 20px;
    right: 20px;
  }
}

@keyframes menu-in {
  0% {
    top: -10vw;
    right: 20px;
  }
  100% {
    top: 20px;
    right: 20px;
  }
}

.button {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  line-height: 46px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  color: white;
}

.button:hover {
  cursor: pointer;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
}

.button:focus {
  outline: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: #eee;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 50;
}

@media (min-width: 1025px) and (orientation: landscape) {
  .menu {
    position: relative;
    width: 85vw;
    height: 110px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 10px auto 0 auto;
    border-bottom: 2px solid #A61D30;
    padding-bottom: 10px;
    background-color: #fff;
    right: 0;
  }
}

@media (min-width: 1600px) and (orientation: landscape) {
  .menu {
    width: 90vw;
    height: 150px;
    border-bottom: 3px solid #A61D30;
  }
}

.menu__logo {
  position: absolute;
  width: 70%;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-55%, -55%);
          transform: translate(-55%, -55%);
}

@media (min-width: 1025px) and (orientation: landscape) {
  .menu__logo {
    height: 70px;
    width: auto;
  }
}

@media (min-width: 1600px) and (orientation: landscape) {
  .menu__logo {
    height: 95px;
  }
}

.menu__logo-title-wrap {
  height: 20vh;
  padding: 2vh;
}

@media (min-width: 720px) and (orientation: portrait) {
  .menu__logo-title-wrap {
    height: 25vh;
    padding: 4vh 2vh;
  }
}

@media (min-width: 1025px) and (orientation: landscape) {
  .menu__logo-title-wrap {
    position: relative;
    padding: 0 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 35%;
    height: 100%;
    border: none;
  }
}

.menu__logo-border {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vw;
  border: 0.5vh solid black;
  background-color: #A61D30;
  border-radius: 50%;
  opacity: 0.07;
}

@media (min-width: 720px) and (orientation: portrait) {
  .menu__logo-border {
    width: 50vw;
    height: 50vw;
  }
}

@media (min-width: 1025px) and (orientation: landscape) {
  .menu__logo-border {
    position: relative;
    left: 49px;
    width: 98px;
    height: 98px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: 0px 10px 0 0;
    opacity: 1;
    border: 3px solid black;
  }
}

@media (min-width: 1600px) and (orientation: landscape) {
  .menu__logo-border {
    height: 137px;
    width: 137px;
    left: 69px;
  }
}

.menu__title {
  position: relative;
  display: block;
  height: calc(18vh - 2vh);
  line-height: calc((20vh - 4vh)/2);
  margin-left: calc(2vh + 25px);
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  font-size: 5vh;
  text-align: left;
  color: #A61D30;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Dosis', Arial, Helvetica, sans-serif;
}

@media (min-width: 720px) and (orientation: portrait) {
  .menu__title {
    font-size: 6vh;
    margin-left: calc(2vh + 30px);
  }
}

@media (min-width: 1025px) and (orientation: landscape) {
  .menu__title {
    height: auto;
    text-align: center;
    margin-left: 15px;
    line-height: 40px;
    padding-top: 9px;
    font-size: 33px;
  }
}

@media (min-width: 1600px) and (orientation: landscape) {
  .menu__title {
    line-height: 45px;
    padding-top: 20px;
    margin-left: 20px;
    font-size: 40px;
  }
}

.menu__title::before {
  position: absolute;
  content: "";
  display: block;
  width: 15px;
  height: 90%;
  top: 5%;
  left: -25px;
  background-color: #A61D30;
}

@media (min-width: 720px) and (orientation: portrait) {
  .menu__title::before {
    font-size: 6vh;
    width: 20px;
    left: -35px;
  }
}

@media (min-width: 1025px) and (orientation: landscape) {
  .menu__title::before {
    display: none;
  }
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-transform: uppercase;
  overflow: hidden;
}

@media (max-width: 1024px) and (orientation: landscape) {
  .menu__item {
    margin: 10px;
    width: calc(50% - 20px);
    height: calc(50% - 20px);
    border-bottom: 2px solid #6B1C32;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .menu__item:last-of-type {
    width: calc(50% - 20px);
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1025px) and (orientation: landscape) {
  .menu__item {
    position: relative;
    line-height: 110px;
  }
}

@media (min-width: 1025px) and (orientation: landscape) {
  .menu__item::before {
    content: "";
    position: absolute;
    bottom: 30%;
    right: -100%;
    width: 80%;
    height: 2px;
    background-color: #A61D30;
    -webkit-transition: 0.7s cubic-bezier(0, 1.8, 1, 1);
    transition: 0.7s cubic-bezier(0, 1.8, 1, 1);
  }
  .menu__item:hover::before {
    right: 10%;
  }
}

@media (min-width: 1600px) and (orientation: landscape) {
  .menu__item {
    line-height: 150px;
  }
}

.menu__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  list-style: none;
  margin-top: 10px;
}

@media (max-width: 1024px) and (orientation: landscape) {
  .menu__item-list {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1025px) and (orientation: landscape) {
  .menu__item-list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 0;
  }
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 4vh;
  font-family: 'Dosis', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  color: #d1253d;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

@media (min-width: 720px) and (orientation: portrait) {
  .menu__link {
    font-size: 4.5vh;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .menu__link {
    font-size: 4.5vh;
    letter-spacing: 5px;
  }
}

@media (min-width: 1025px) and (orientation: landscape) {
  .menu__link {
    display: block;
    color: #A61D30;
    font-size: 19px;
    padding-bottom: 5px;
  }
}

@media (min-width: 1400px) and (orientation: landscape) {
  .menu__link {
    font-size: 21px;
  }
}

@media (min-width: 1600px) and (orientation: landscape) {
  .menu__link {
    font-size: 30px;
  }
}

.menu--active {
  right: 0;
}

.species {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.species__title {
  margin: 8vh 0;
  text-align: center;
  font-size: 7vw;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (orientation: landscape) {
  .species__title {
    font-size: 5vw;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .species__title {
    margin: 10vh 0;
  }
}

.species-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 50px solid #1e1e1e;
}

@media (orientation: landscape) {
  .species-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .species-wrap:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .species-wrap:nth-child(odd) .species-wrap__title {
    text-align: left;
  }
}

@media (min-width: 760px) and (min-height: 600px) {
  .species-wrap {
    border-bottom: 70px solid #1e1e1e;
  }
}

@media (min-width: 1200px) and (min-height: 800px) {
  .species-wrap {
    border-bottom: 100px solid #1e1e1e;
  }
}

@media (min-width: 1400px) and (orientation: landscape) {
  .species-wrap {
    width: 85vw;
    min-width: 1024px;
    margin: 0 auto;
  }
}

.species-wrap__child {
  width: 100%;
  height: 40vh;
  min-height: 150px;
}

@media (orientation: landscape) {
  .species-wrap__child {
    width: 50%;
    height: 60vh;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .species-wrap__child {
    height: 50vh;
  }
}

@media (min-width: 1400px) and (orientation: landscape) {
  .species-wrap__child {
    height: 40vh;
  }
}

.species-wrap__image--box {
  position: relative;
  overflow: hidden;
  background-color: rgba(172, 145, 145, 0.85);
}

@media (min-width: 1200px) and (orientation: landscape) {
  .species-wrap__image--box:hover > .species-wrap__img {
    -webkit-transform: translate(-50%, -50%) scale(1.05);
            transform: translate(-50%, -50%) scale(1.05);
  }
  .species-wrap__image--box:hover > .species-wrap__img--shadow {
    opacity: 0.4;
  }
}

.species-wrap__img {
  position: absolute;
  width: auto;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@media (min-width: 720px) {
  .species-wrap__img {
    width: 100vmin;
    height: auto;
  }
}

@media (min-width: 720px) and (max-height: 410px) {
  .species-wrap__img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1023px) and (min-height: 680px) and (orientation: landscape) {
  .species-wrap__img {
    width: 100vmin;
    height: auto;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .species-wrap__img {
    width: 100%;
    height: auto;
  }
  .species-wrap__img--shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    -webkit-transition: 0.6s linear;
    transition: 0.6s linear;
  }
}

@media (min-height: 670px) and (orientation: landscape) {
  .species-wrap__img {
    height: 100%;
  }
}

@media (min-width: 1200px) and (min-height: 910px) and (orientation: landscape) {
  .species-wrap__img {
    width: auto;
    height: 100%;
  }
}

@media (min-width: 1400px) and (orientation: landscape) {
  .species-wrap__img {
    width: 100%;
    height: auto;
  }
}

.species-wrap__description--box {
  position: relative;
  height: 45vh;
  padding: 8vw;
  background-color: #F4F2F3;
}

@media (orientation: landscape) {
  .species-wrap__description--box {
    padding: 4vh 6vh;
    width: 50%;
    height: 60vh;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .species-wrap__description--box {
    height: 50vh;
  }
}

@media (min-width: 1400px) and (orientation: landscape) {
  .species-wrap__description--box {
    height: 40vh;
  }
}

.species-wrap__title {
  position: relative;
  padding-bottom: 2vh;
  font-size: 5vh;
  text-align: center;
  font-family: 'Dosis', Arial, Helvetica, sans-serif;
  border-bottom: 2px solid #A61D30;
}

@media (max-width: 380px) and (min-height: 800px) {
  .species-wrap__title {
    font-size: 4vh;
  }
}

@media (orientation: landscape) {
  .species-wrap__title {
    text-align: right;
  }
}

.species-wrap__description {
  position: relative;
  padding-top: 2vh;
  font-size: 2.8vh;
  text-align: justify;
  font-family: 'Dosis', Arial, Helvetica, sans-serif;
}

@media (orientation: landscape) {
  .species-wrap__description {
    font-size: 3.2vh;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .species-wrap__description {
    font-size: 3vmin;
  }
}

@media (min-width: 1400px) and (orientation: landscape) {
  .species-wrap__description {
    font-size: 2.5vmin;
  }
}

@media (min-width: 1025px) and (orientation: landscape) {
  .species-wrap__description--lbcut::before {
    position: absolute;
    right: 0;
    bottom: 0;
    border-bottom: 100px solid #1e1e1e;
    border-left: 100px solid transparent;
  }
}

@media (min-width: 1025px) and (orientation: landscape) {
  .species-wrap__description--rbcut::before {
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 100px solid #1e1e1e;
    border-right: 100px solid transparent;
  }
}

.facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #efffff;
}

.facts__header {
  position: relative;
  width: 100%;
  padding: 8vh 0;
  background-color: #8C041D;
}

.facts__header::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/quotes.png);
  background-size: 80%, auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.3;
}

@media (orientation: landscape) {
  .facts__header {
    padding: 15vh 0;
  }
}

.facts__word {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 5vh;
  letter-spacing: 4px;
  font-family: 'Source Serif Pro', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  color: white;
}

@media (orientation: landscape) {
  .facts__word {
    font-size: 7vw;
    letter-spacing: 1vw;
  }
}

.facts__facts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin: 0 auto;
  padding: 7vh 5vw 4vh 5vw;
}

@media (min-width: 600px) {
  .facts__facts-list {
    width: 600px;
  }
}

@media (min-width: 1024px) {
  .facts__facts-list {
    width: 70vw;
  }
}

.facts__item {
  position: relative;
  margin: 0 auto 3vh auto;
  margin-bottom: 3vh;
  padding: 2vh 3vh 2vh 5vh;
  border-radius: 0.5rem;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(217, 41, 88, 0.4);
          box-shadow: 2px 2px 5px 1px rgba(217, 41, 88, 0.4);
  cursor: pointer;
}

@media (orientation: landscape) {
  .facts__item {
    margin-bottom: 6vh;
    padding: 3vh 3vh 3vh 10.2vh;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .facts__item {
    padding: 2vh 3vh 3vh 10px;
    margin-bottom: 5vh;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
  }
  .facts__item:hover > .facts__item-description {
    -webkit-transform: translateX(4vw);
            transform: translateX(4vw);
  }
  .facts__item:hover .facts__item-number {
    opacity: 0.5;
  }
}

.facts__item-number {
  position: absolute;
  bottom: 0.5vh;
  right: 0.5vh;
  font-size: 2.5vh;
  font-weight: 700;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .facts__item-number {
    top: -2vh;
    left: 0;
    font-size: 10vh;
    font-weight: normal;
    opacity: 0.05;
  }
}

.facts__item-square {
  position: absolute;
  width: 5vh;
  height: 5vh;
  left: -1vh;
  top: -1.5vh;
  background-color: #A61D30;
  color: white;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (orientation: landscape) {
  .facts__item-square {
    width: 9.2vh;
    height: 9.2vh;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .facts__item-square {
    border: none;
    left: 0;
    top: 0;
    height: 100%;
    width: auto;
    background-color: transparent;
    color: black;
  }
}

.facts__item-description {
  font-size: 1.8vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

@media (orientation: landscape) {
  .facts__item-description {
    font-size: 4vh;
  }
}

.quotes {
  position: relative;
  width: 100%;
  height: 45vh;
  background-image: url(/img/quotes1.jpg);
  background-position: center;
  background-attachment: fixed;
  border-bottom: 2px solid white;
}

.quotes__dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.quotes__description {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  font-size: 4vh;
  letter-spacing: 2px;
  color: white;
  font-family: 'Source Serif Pro', 'Dosis', Arial, Helvetica, sans-serif;
  font-style: italic;
  padding: 0 4vw;
}

@media (orientation: landscape) {
  .quotes__description {
    font-size: 8vh;
  }
}

@media (min-width: 1024px) {
  .quotes__description {
    font-size: 6vw;
  }
}

@media (min-width: 1200px) {
  .quotes__description {
    font-size: 4vw;
  }
}

.quotes__description--color {
  font-size: 1em;
  color: lightgreen;
  opacity: 0.8;
}
/*# sourceMappingURL=style.css.map */