.button {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    line-height: 46px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    transition: 0.3s linear;
    color: white;
}

.button:hover {
    cursor: pointer;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
}

.button:focus {
    outline: none;
}

// background-color: #D9042B;
// background-color: #73061A;
// background-color: #BF0637;
// background-color: #D9305D;
// background-color: #8C041D;
// background-color: #590414;
// background-color: #A60530;
// background-color: #D92958;
// background-color:#991A2B;
// background-color:#8C1827;
// background-color:#B31E32;