.menu {
    display: flex;
    position: fixed;
    top: 100%;
    left: 0;
    background-color: #fff;
    flex-direction: column;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.2s linear;
    z-index: 50;

    .menu__logo-title-wrap {
        padding: 15px 65px 0 10px;
        display: flex;
        flex-direction: row;
    }

    .menu__logo-border {
        position: relative;
        flex-shrink: 0;
        height: 90px;
        width: 90px;
        border: 3px solid black;
        background-color: $theme-color;
        border-radius: 50%;
    }

    .menu__logo {
        position: absolute;
        height: 60px;
        width: 60px;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -55%);
        // <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

    }

    .menu__title {
        display: block;
        flex-grow: 1;
        margin: 5px 0 0 0;
        font-size: 3rem;
        text-align: center;
        color: $theme-color;
        font-weight: 700;
        letter-spacing: 1px;
        font-family: 'Dosis', Arial, Helvetica, sans-serif;
        // text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    }

    .menu__item-list {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        list-style: none;
        margin-top: 10px;
    }

    .menu__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        flex-grow: 1;
        flex-wrap: nowrap;
        text-transform: uppercase;
        overflow: hidden;
        // border-bottom: 2px solid #A13D53;
        border-bottom: 2px solid #801624;
    }

    .menu__item:last-of-type {
        border-bottom: none;
    }

    .menu__link {
        font-size: 2.5rem;
        font-family: 'Dosis', Arial, Helvetica, sans-serif;
        letter-spacing: 2px;
        font-weight: 700;
        color: $theme-color;
        text-decoration: none;
        border-bottom: 2px solid transparent;

    }
}

.menu--active {
    height: 100vh;
    top: 0;
}


// Portrait  orientation
@media (max-width:359px) {
    .menu {
        .menu__logo-border {
            height: 80px;
            width: 80px;
        }

        .menu__logo {
            height: 50px;
            width: 50px;

        }

        .menu__title {
            margin: 2px 0 0 0;
            font-size: 2.8rem;
        }
    }
}

@media (max-width:411px) and (min-height:740px) {
    .menu {
        .menu__logo-border {
            height: 100px;
            width: 100px;
        }

        .menu__logo {
            height: 70px;
            width: 70px;

        }

        .menu__title {
            margin: 7px 0 0 0;
            font-size: 3.3rem;
        }

        .menu__link {
            font-size: 3rem;
        }
    }
}

@media (min-width:411px) {
    .menu {
        .menu__logo-border {
            height: 115px;
            width: 115px;
        }

        .menu__logo {
            height: 80px;
            width: 80px;

        }

        .menu__title {
            margin: 5px 0 0 0;
            font-size: 3.7rem;
        }

        .menu__link {
            font-size: 3rem;
        }
    }
}

@media (min-width:768px) {
    .menu {
        .menu__logo-title-wrap {
            padding: 15px 130px 0 10px;
        }

        .menu__logo-border {
            height: 200px;
            width: 200px;
        }

        .menu__logo {
            height: 130px;
            width: 130px;

        }

        .menu__title {
            margin: 10px 0 0 0;
            font-size: 6rem;
        }

        .menu__item {
            border-bottom-width: 3px;
        }

        .menu__link {
            font-size: 5rem;
        }
    }
}

@media (min-width:1024px) {
    .menu {
        .menu__logo-title-wrap {
            padding: 30px 160px 0 30px;
        }

        .menu__logo-border {
            height: 250px;
            width: 250px;
        }

        .menu__logo {
            height: 150px;
            width: 150px;

        }

        .menu__title {
            margin: 15px 0 0 0;
            font-size: 8rem;
        }

        .menu__link {
            font-size: 7rem;
        }
    }
}

// Lanscape orientation

@media (min-width:533px) and (orientation:landscape) {
    .menu {
        flex-direction: row;

        .menu__logo-title-wrap {
            width: 60vw;
            height: 100vh;
            padding: 15px 15px 0 10px;
            flex-direction: column;
            border-right: 2px solid #801624;
        }

        .menu__logo-border {
            margin: 10px auto 0 auto;
            height: 110px;
            width: 110px;
        }

        .menu__logo {
            height: 80px;
            width: 80px;
        }

        .menu__title {
            flex-basis: 50%;
            text-align: center;
            margin: 25px 0 0 0;
            font-size: 3.5rem;
        }

        .menu__item-list {
            margin: 50px 0 0 0;
        }

        .menu__item {
            border-bottom-width: 2px;
        }


        .menu__link {
            font-size: 2rem;
        }
    }
}

@media (min-width:640px) and (orientation:landscape) {
    .menu {
        .menu__logo-border {
            margin: 30px auto 0 auto;
            height: 130px;
            width: 130px;
        }

        .menu__logo {
            height: 95px;
            width: 95px;
        }

        .menu__title {
            font-size: 3.7rem;
        }

        .menu__item-list {
            margin: 60px 0 0 0;
        }

        .menu__link {
            font-size: 2rem;
        }
    }
}

@media (min-width:731px) and (orientation:landscape) {
    .menu {
        .menu__logo-border {
            height: 150px;
            width: 150px;
        }

        .menu__logo {
            height: 110px;
            width: 110px;
        }

        .menu__title {
            font-size: 4rem;
        }

        .menu__link {
            font-size: 2.5rem;
        }
    }
}



// Desktop


@media (min-width:1024px) and (orientation:landscape) {
    .menu {
        display: flex;
        position: relative;
        width: 80vw;
        height: 110px;
        flex-direction: row;
        margin: 10px auto 0 auto;
        border-bottom: 2px solid $theme-color;
        padding-bottom: 10px;

        .menu__logo-title-wrap {
            padding: 0 0 0 0;
            display: flex;
            flex-direction: row;
            width: auto;
            height: auto;
            border: none;
        }

        .menu__logo-border {
            position: relative;
            flex-shrink: 0;
            height: 100px;
            width: 100px;
            margin: 0px 10px 0 0;
        }

        .menu__logo {
            position: absolute;
            height: 70px;
            width: auto;
            top: 50%;
            left: 50%;
            transform: translate(-55%, -55%);
            // <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

        }

        .menu__title {
            display: block;
            flex-grow: 0;
            margin: 10px 30px 0 20px;
            font-size: 3rem;
            // text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
        }

        .menu__item-list {
            display: inline-flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 0;
        }

        .menu__item {
            position: relative;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            flex-wrap: nowrap;
            flex-grow: 1;
            line-height: 110px;
            // border-bottom: 2px solid #A13D53;
            border-bottom: 2px solid #801624;
        }

        .menu__item:last-of-type {
            border-bottom: 2px solid #801624;
        }


        .menu__link {
            display: block;
            font-size: 1.9rem;
            padding-bottom: 5px;
        }

        .menu__item::before {
            content: "";
            position: absolute;
            bottom: 30%;
            right: -100%;
            width: 70%;
            height: 2px;
            background-color: $theme-color;
            transition: .7s cubic-bezier(0, 1.8, 1, 1);
        }

        .menu__item:hover::before {
            right: 15%;
        }
    }

}

@media (min-width:1281px) and (orientation:landscape) {
    .menu {
        width: 90vw;
        height: 150px;

        .menu__logo-title-wrap {}

        .menu__logo-border {
            height: 130px;
            width: 130px;
            margin: 4px 10px 0 0;
        }

        .menu__logo {
            height: 90px;
            width: auto;
            // <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

        }

        .menu__title {
            margin: 15px 30px 0 30px;
            font-size: 4rem;
            // text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
        }

        .menu__item {
            line-height: 150px;
            border-bottom: 2px solid #801624;
        }

        .menu__link {
            font-size: 2.5rem;
        }
    }

}